.grid-wrap{
    display: flex;
    flex-wrap:wrap;
    margin: 100px auto;
    max-width: 600px;
    width: 100%;
    border: 1px solid #000;
}

.grid{
    padding: 16%;
    margin: 1% 0 0 1%;
    border-radius: 5%;
    background-color: orange;
}

.bot{
    margin-bottom: 1%;
}