/* reset css */
body{
    padding: 0;
    margin: 0;
}

/* 九宫格 */
.grid-wrap{
    margin: 0 auto;


}

.grid{
    float: left;
    padding: 16%;
    margin: 1% 0 0 1%;
    border-radius: 5%;
    background-color: orange;
}

/* 添加格子的边框的距离 */
/* .bot{
    margin-bottom: 1%;
} */