$skin-color:#5fc0cd;
/*重置*/
input{
    width: 1rem;
}
/*默认*/

html {
    font-size: 312.5%;
}

body {
    margin: 0;
    font-size: 0.32rem;
    color: #fff;
    background-color: #eff0f4;
}

/* 布局 */

.g-hd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.g-mn {
    margin-top: .88+.17rem;
}

.g-inp {
    display: flex;
    margin-top: .17rem;
    padding: .24rem 0;
    background-color: #fff;
}

/* 模块 */

.m-hd {
    display: flex;
    justify-content: space-between;
    align-content: center;
    line-height: .88rem;
    background-color: $skin-color;
    .close-btn,
    .register-btn {
        cursor: pointer;
    }
    .close-btn {
        margin-left: .3rem;
    }
    .register-btn {
        margin-right: .3rem;
    }
    h1 {
        margin: 0;
        font-size: .36rem;
        text-align: center;
        font-weight: normal;
    }
}

.m-login {
    .image-phone,
    .image-password {
        width: .59+.29+.29rem;
        height: .51rem;
        
    }
    .image-phone {
        background: url('../images/phone-icon.png') no-repeat center;
        background-size:50%;
    }
    .image-password {
        background: url('../images/password-icon.png') no-repeat center;
        background-size:50%;
    }
    input {
        flex: 1;
        height: 0.49rem;
        font-size: .32rem;
        text-indent: .3rem;
        border: none;
        border-left: 2px solid #e1e5e7;
        outline: none;
    }
    :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #e1e5e7;
    }
    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #e1e5e7;
    }
    input:-ms-input-placeholder {
        color: #e1e5e7;
    }
    input::-webkit-input-placeholder {
        color: #e1e5e7;
    }

    .btn{
        width: 100%;
        margin-top: .77rem;
        line-height: 1rem;
        font-size: 0.36rem;
        color: #fff;
        letter-spacing:0.15rem;
        background-color: $skin-color;
        border: none;
        outline: none;
        cursor:pointer;
    }

    p{
        float: right;
        margin:.2rem 0 .3rem 0;
        color: #5fc0cd;
        cursor:pointer;
    }
}

