html{
    font-size: 312.5%;/* 50px */
}

body{
    margin: 0;
    padding: 0;
    background-color: #68cdd5;
}

.view{
   
}

.back-button{
    width: .54rem;
    height: .54rem;
    margin: .2rem 0 .42rem .35rem;
    background-image: url('../images/back-btn.png');
    background-size: cover;
}

.ppt-logo{
    position: relative;
    left: -1.22rem;
    width: 1.81rem;
    height: .7rem;
    margin: 0 0 1rem 50%;
    background-image: url('../images/ppt-logo.png');
    background-size: cover;
}

.box-introduce{
    margin: 0 .99rem 1.6rem .89rem;
    font-size: .3rem;
    line-height: .6rem;
    color:#fff;
    text-align: center;
}

.content{
    display: inline-block;
    text-align: left;
}

.left-box,.right-box{
    text-align: center;
}
.left-box{
    float: left;
    margin-left: 1.2rem;
}
.right-box{
    float: right;
    margin-right: 1.1rem;
}

.left-icon{
    display: inline-block;
    width: .88rem;
    height: .88rem;
    background-size: cover;
}

.right-icon{
    display: inline-block;
    width: .84rem;
    height: .88rem;
    background-size: cover;
}
.left-icon{
    background-image: url('../images/icon-left.png');
}
.right-icon{
    background-image: url('../images/icon-right.png');
}
.footer{
    overflow: hidden;
}
.footer p{
    margin: 0;
    padding: 0;
    font-size: .24rem;
    line-height: 1;
    color: #fff;
}